{
	debug
	http_port	8080
	https_port	4443
	auto_https	disable_redirects

}

http://localhost:8080, https://localhost:4443 {
	handle_path /api* {
		reverse_proxy	api:3000
	}
	reverse_proxy		frontend:3000
}

