body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1dd1a1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-header {
  width: 100%;
  color: #1dd1a1;
  display: flex;
  height: 70px;
  justify-content: left;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.auth-header h1 {
  margin-left: 35px;
}


.auth-link {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-link button {
  border: solid 2px black;
  border-radius: 5px;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.auth-link button:hover{
  background-color: black;
  color: white;
}

/* --------------HEADER-------------- */

.header {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
  display: flex;
  height: 70px;
  align-items: center;
  background-color: white;
}

.title {
  width: 30%;
}

.title h1 {
  margin-left: 35px;
}

.onglets {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 40%;
}

.info {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.info h1 {
  font-size: 15px;
  margin-right: 15px;
}

.info img {
  max-height: 100%;
  max-width: 100%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50px;
}

.info i {
  margin-right: 35px;
  font-size: 30px;
  cursor: pointer;
}

/* ------------------------------------- */
/* --------------COMMUNITY-------------- */
/* ------------------------------------- */

.community-container {
  width: 96%;
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 2%;
  margin-left: 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background-color: white;
}

/* --------------CHANNELS-------------- */

.channels-container {
  width: 30%;
}

.channels-container h3 {
  text-align: center;
}

.channels-container form {
  text-align: center;
}

.channels-container input {
  padding: 5px;
  border-radius: 3px;
  border: 2px solid black;
  text-decoration: none;
}

.channels-list {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  width: 185px;
  margin: auto;
}

.channels-list::-webkit-scrollbar {
  display: none;
}

.channels-single {
  margin: 5px;
  width: 165px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.channels-single-clickable {
  height: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.channels-single-clickable:hover {
  filter: brightness(1.2);
  transition: all 0.5s ease-out;
}

/* .channels-single-clickable:active {
  transform: scale(1.2);
} */

.channels-single-clickable h5 {
  margin: 0;
}

.channels-single-actions {
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.channels-single .trashcan {
  cursor: pointer;
  color: black;
}

.channels-single .circlexmark {
  cursor: pointer;
  color: black;
}

.channels-single .arrow {
  cursor: pointer;
  color: black;
}

.channels-single .trashcan:hover, .circlexmark:hover, .arrow:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}


/* --------------USERS-------------- */

.users-container {
  width: 30%;
  text-align: center;
}

.users-list {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  width: 250px;
  margin: auto;
}

.users-list::-webkit-scrollbar {
  display: none;
}

.users-tab button {
text-decoration: none;
border: 2px solid #1dd1a1;
padding: 5px;
margin: 2px;
border-radius: 3px;
cursor: pointer;
}

.users-tab button:hover {
  transition: all 0.5s ease-out;
}

.users-single {
  width: 230px;
  padding: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: uppercase;
  border-radius: 50px;
  display: flex;
  margin: auto;
  margin-top: 5px;
}

.users-single-img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-single-img img {
  max-height: 100%;
  max-width: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid;
  display: flex;
}

.users-single-info {
  width: 70%;
  text-align: left;
}

.users-single-info h5 {
  margin: 0;
  font-size: 11px;
}

.users-single-info .paperplane {
  color: #1dd1a1;
  cursor: pointer;
}

.users-single-info .paperplane:active {
  transition: all 0.5s ease-out;
  transform: scale(0.80);
}
  
.users-single-info-friends button {
  margin-left: 5px;
}

.friendsrequest-single {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 230px;
  margin: auto;
  margin-top: 5px;
}

.friendsrequest-single-img {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendsrequest-single-img img {
  max-height: 100%;
  max-width: 100%;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid black;
}

.friendsrequest-single-name {
  width: 40%;
  text-align: left;
}

.friendsrequest-single p {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}

.friendsrequest-single-button {
  width: 40%;
}

/* --------------CHAT-------------- */

.chat-container {
  width: 40%;
  text-align: center;
}

.chat-wrapper {
  width: 400px;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.chat-title {
  text-align: left;
  padding: 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1dd1a1;
}

.chat-box {
  height: 300px;
  max-height: 300px;
  width: 400px;
  margin: auto;
  /* important 3 lines for displaying chat */
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

.chat-message {
  text-align: left;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 5px;
  margin-bottom: 7px;
}

.chat-message h5 {
  margin: 0;
}

.chat-message span {
  font-size: 8px;
}

.chat-message p {
  margin: 0;
  font-size: 12px;
  width: fit-content;
  padding: 4px;
  border-radius: 5px;
}

.chat-container input {
  margin-top: 7px;
  width: 250px;
  padding: 7px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  border: none;
  border: 2px solid white;
}

textarea:focus, input:focus{
  outline: none;
  border: 2px solid #1dd1a1;
  transition: all 0.5s ease-out;
}

/* ------------------------------------- */
/* --------------PROFILE---------------- */
/* ------------------------------------- */

.profile-container {
  background-color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile-img img {
  max-height: 100%;
  max-width: 100%;
  width: 150px;
  height: 150px;
  margin-right: 15px;
  border-radius: 150px;
  border: 5px solid #1dd1a1;
}

.profile-info {
  text-align: left;
}

.profile-name {
  display: flex;
  align-items: center;
  height: 40px;
}

.profile-name h5 {
  margin: 0;
  margin-left: 5px;
}

.profile-name .pen {
  cursor: pointer;
  margin-left: 5px;
  border-radius: 50px;
  font-size: 10px;
}

.profile-name .pen:hover {
  color: #1dd1a1;
  transition: all 0.5s ease-out;
}

.profile-name input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid black;
  text-decoration: none;
}

.profile-other h5 {
  margin: 0;
  margin-left: 5px;
}


/*
** DEBUG
*/

.debug pre {
  /*display: flex;*/
  background-color: white;
  /*width: 50%;*/
  /*align-self: center;*/
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 15px;
}

.debug .string {
  color: green;
}
.debug .number {
  color: darkorange;
}
.debug .boolean {
  color: blue;
}
.debug .null {
  color: magenta;
}
.debug .key {
  color: red;
}
